APP_ID=com.today.todo.app
BUILD_VERSION=1
APP_VERSION=1.0.0
CODE_PUSH_ANDROID_PRODUCTION=zZc0KJWhsHd-EdqSiVP4vUScXi3VPtTHF73Y8
CODE_PUSH_IOS_PRODUCTION=mafSTDSM5zNrXBujYpcTzxg5UwXuUmAM-piyM
CODE_PUSH_ANDROID_STAGING=jc1USVLp67M05Xy2mA4jQl1v1LW1nA3WVllUA
CODE_PUSH_IOS_STAGING=gK5mY3SkcF_Fhet70pfg3clG797gcQvtvHuv-
RELEASE_STORE_PASSWORD=today2023
RELEASE_KEY_PASSWORD=today2023
